/* Header Styles */
.nav {
  position: sticky; /* Sticky header */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it stays above other elements */
  background-color: #ffff; /* Indigo background */
  border-bottom: 1px solid gray; /* Optional border */
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container to hold logo and menu */
.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  gap: 0;
}

.logo-text {
  color: #1ab69e;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: -5px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #1ab69e;
}

/* Navigation Menu */
.menu {
  display: flex;
  gap: 16px;
  align-items: center;
}

.menu-item {
  text-decoration: none;
  color: rgb(13, 13, 13) !important;
  padding: 8px 18px !important;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #1ab69e; /* Lighter indigo for hover effect */
}

/* Profile Menu */
.profile-menu {
  margin-left: 16px;
}

.profile-button {
  background: #1ab69e;
  border: 1px solid #1ab69e;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background: #009a83;
}

/* Login Button */
.login-button {
  background: #1ab69e;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.login-button > .login-icon {
  margin-top: -1px;
}
.login-button:hover {
  background: #009a83;
}
/* Mobile Menu Styles */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    color: #1ab69e;
    font-size: 50px;
    width: 50px;
  }
  .login-button {
    background: #011433;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .menu {
    display: none; /* Hidden by default on mobile */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Below the header */
    right: 0;
    width: 100%;
    background-color: #1ab69e; /* Same as header background */
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }

  .menu-open {
    display: flex; /* Show menu when toggled */
  }

  .menu-item {
    padding: 12px;
    text-align: center;
  }
  .menu-item:hover {
    background-color: #00aa90;
  }
}

/* Desktop Menu Styles */
@media (min-width: 769px) {
  .menu {
    display: flex;
    position: static;
  }

  .menu-item {
    padding: 8px 16px;
  }
}
