@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: ##00ae94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

/** Profile image upload button css */

.upload-btn {
  margin-left: 2rem;
  margin-top: 20px;
}
.upload-btn > *[data-ut-element='button'] {
  background-color: #1ab69e !important;
  color: white !important;
  border-radius: 4px;
  padding: 8px 15px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='readying'] {
  background-color: #5ed8c6 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='uploading'] {
  background-color: #1ab69e !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='uploading']::after {
  background-color: #1ab69e !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}

.rounded-full {
  border-radius: 50%;
}

.job > div > span {
  font-size: 16px;
  line-height: 1.5rem;
}

.job-description {
  font-size: 16px;
  line-height: 1.5rem;
}
i {
  cursor: pointer;
  font-size: 25px;
}

/*------- Header css ------------*/

@media (min-width: 768px) {
  #mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  display: none !important;
}
@media (min-width: 768px) {
  .mobile-menu-container {
    display: none;
    position: absolute;
    display: flex;
    top: 0px;
    bottom: 0px;
    left: 0px;
    alignitems: center;
  }
}

.logo-img {
  height: 40px;
  width: auto;
}
