@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: ##00ae94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

/** Profile image upload button css */

.upload-btn {
  margin-left: 2rem;
  margin-top: 20px;
}
.upload-btn > *[data-ut-element='button'] {
  background-color: #00ae94 !important;
  color: white !important;
  border-radius: 4px;
  padding: 8px 15px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='readying'] {
  background-color: #5ed8c6 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='uploading'] {
  background-color: #00ae94 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.upload-btn > *[data-ut-element='button'][data-state='uploading']::after {
  background-color: #00ae94 !important;
  color: white !important;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
